<nav class="navbar navbar-default" role="navigation">

	<%= link_to(image_tag("screens_applogo-grey.png", :class => "headerLogo", :alt => "logo", :size => "20", :title => 'gQuery')) %>

		
	<ul class="nav navbar-nav">
		<li class="createQuery">
			<a href="#">Query</a>
		</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		
		<li class="sign-in">
			<a href="#">Sign in</a>
		</li>
		<li class="register">
			<a href="#">Register</a>
		</li>
	</ul>
</nav>
	
<div class="fullwidth-container">
	<div class="row">
		<aside class="span5" id="queryBar"><!-- Sidebar starts here  -->    

<div class="row">
          <div class="filterValues">
            <form>
    			<div class="form-group">
        			<label for="searchName" class="SearchLabel">Search name:</label>
  					<br><br>
    			</div>
        		<div id="sliderContainer"> 
					<p>
					  <%= link_to(image_tag("screens_crime.png", :class => "crimeRate", :alt => "crimeRate", :size => "20", :title => 'crimeRate')) %>
					  <label for="crimeRateValue" class="indicatorLabel"> Crime Rate:</label>
					  <input type="text" id="crimeRateValue" class="indicatorValue" readonly > </input>
					</p>
	 
					<div id="slider-range-crime"></div>

					<p>
					  <%= link_to(image_tag("screens_pollution.png", :class => "pollutionRate", :alt => "pollutionRate", :size => "20", :title => 'pollutionRate')) %>
					  <label for="pollutionRateValue" class="indicatorLabel"> Pollution Rate:</label>
					  <input type="text" id="pollutionRateValue" class="indicatorValue" readonly > </input>
					</p>
	 
					<div id="slider-range-pollution"></div>
 

					<p>
					  <%= link_to(image_tag("screens_health.png", :class => "healthRate", :alt => "healthRate", :size => "20", :title => 'healthRate')) %>
					  <label for="healthRateValue" class="indicatorLabel"> Pollution Rate:</label>
					  <input type="text" id="healthRateValue" class="indicatorValue" readonly > </input>
					</p>
					<div id="slider-range-health"></div>

					<p>
					  <%= link_to(image_tag("screens_health.png", :class => "healthRate", :alt => "healthRate", :size => "20", :title => 'healthRate')) %>
					  <label for="urbannessRateValue" class="indicatorLabel"> Urbanization Rate:</label>
					  <input type="text" id="urbannessRateValue" class="indicatorValue" readonly > </input>
					</p>
					<div id="slider-range-urbanness"></div>

					<p>
					  <%= link_to(image_tag("screens_health.png", :class => "healthRate", :alt => "healthRate", :size => "20", :title => 'healthRate')) %>
					  <label for="greennessRateValue" class="indicatorLabel"> Green Cover:</label>
					  <input type="text" id="greennessRateValue" class="indicatorValue" readonly > </input>
					</p>
					<div id="slider-range-greenness"></div>
				</div>
    			<br><br>
    			<div id="adjustFilters" class="dropdown">
    			<button class="searchButton btn btn-primary" onclick="splunkSearch()">Search</button>
    			<button id="addFilter" type="button" data-toggle="dropdown" class="dropdown-toggle addFilter btn btn-primary" >+
    				<span class="caret"></span>
    				</button>
     		   <ul class="dropdown-menu" id="dropdownList" aria-labelledby="dropdownMenu1">
            <li id="Health-Pollution" onclick="selectCategory(id)">Health/ Pollution</li>
            <li id="Safety-Crime" onclick="selectCategory(id)">Safety/ Crime</li>
            <li id="Economy" onclick="selectCategory(id)">Economic Factors</li>
            <li id="Infrastructure" onclick="selectCategory(id)">Infrastructure</li>
            <li class="divider"></li>
            <li id="GeneralHealthIndicator" onclick="selectCategory(id)">OverallHealth</li>
           </ul>
    </ul>
</div>
			</div>	
			</form>
           </div>
         </div>
        </aside>
        <script>
        	$(document).ready(function() {
        		$("#queryBar").css("height", $(".fullwidth-container").height());
				// $('#queryBar').hide();
        	});

        </script>
        <script type="text/javascript">
    		$('.createQuery').on('click', function(){
		     if( $('#queryBar').is(':visible') ) {
        	    $('#queryBar').animate({ 'width': '0px' }, 'slow', function(){
        	   	$('#queryBar').hide();
        	   	});
            }
        	else {
    			$('#queryBar').animate({ 'width': '210px' }, 'slow', function(){
        	   	$('#queryBar').show();
        	   	});
    		}
    	});
		</script>

      </div>
		<div class="col-12">
		    <div id="map" class="map"></div>
		</div>	
	</div>
	
	<div class="chartcontainer row">
		<div>
			<div>Pollution</div>
			<div id="pollutionchart">
			</div>
		</div>
		<div>
			<div>Crime</div>
			<div id="crimechart"></div>
		</div>
		<div>
			<div>Health</div>
			<div id="healthchart"></div>
		</div>
		<div>
			<div>Greenness</div>
			<div id="greenchart"></div>
		</div>
		<div>
			<div>Urbanness</div>
			<div id="urbanchart"></div>
		</div>
	</div>
</div>
</div>
</div>
